

/wp-content/themes/twentysixteen
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyfive
/wp-content/themes/twentytwentyone
/wp-content/themes/spotlight-js-convert
/wp-content/litespeed
/node_modules/
/wp-content/plugins
/node_modules/
/wp-content/themes/tw-devs/node_modules/
/wp-includes/
/wp-admin/

upgrade/
uploads/

/.vscode
/local-xdebuginfo.php
/package-lock.json
/package.json
/license.txt

wp-*.php
.htaccess
xmlrpc.php
/wp-content/.DS_Store