@import "tailwindcss";

@theme {
  --color-wpdevs-deep-blue: #213c4d;
  --color-wpdevs-gray1: #7c7c7c;
  --color-wpdevs-gray2: #f7f7f7;
  --color-wpdevs-gray3: #dddddd;
  --color-wpdevs-light-blue: #2a92d3;
  --color-wpdevs-deep-blue: #213c4d;
  --color-wpdevs-black-blue: #001e32;
  --color-wpdevs-yellow: #cfaf07;
}

@tailwind utilities;

/* Headings */
h1 {
  @apply font-sans text-6xl/relaxed font-bold;
}
h2 {
  @apply font-sans text-4xl/relaxed font-bold;
}
h3 {
  @apply font-sans text-3xl/relaxed font-bold;
}
h4 {
  @apply font-sans text-2xl/relaxed font-bold;
}
h5 {
  @apply font-sans text-xl/relaxed;
}

.container {
  @apply w-full ml-auto mr-auto;
}

@media (max-width: 575px) {
  .container {
    @apply px-0 py-[25px];
  }
}
@media (min-width: 576px) {
  .container {
    @apply max-w-[540px] px-[15px];
  }
}
@media (min-width: 768px) {
  .container {
    @apply max-w-[720px];
  }
}
@media (min-width: 992px) {
  .container {
    @apply max-w-[960px];
  }
}
@media (min-width: 1200px) {
  .container {
    @apply max-w-[1140px];
  }
}

/************** Navigation *****************/

#menu-main-menu {
  @apply flex gap-8 justify-center items-center text-lg py-4;
}

#menu-footer-menu {
  @apply flex gap-8 py-4;
}

.menu-item {
  @apply font-normal;
}

.menu-item.current-menu-item {
  @apply font-bold;
}

/************** Home Page *****************/

.home-blog .container article:first-child {
  grid-area: feat-item;
}
.home-blog .container {
  display: grid;
  grid-template-areas: "feat-item feat-item";
  grid-gap: 25px;
}

.home .home-blog .latest-news {
  @apply text-center;
}
.home .home-blog .latest-news {
  @apply mb-8;
}

.home .home-blog .latest-news img {
  @apply float-none rounded-xl ml-[25px] mb-8 shadow-lg;
}

.home .home-blog .latest-news h3 {
  @apply mb-2 text-2xl font-bold text-wpdevs-gray1 hover:text-wpdevs-light-blue;
}
.home .home-blog .meta-info p {
  @apply font-normal mt-1;
}
.home .home-blog .meta-info p:last-child {
  @apply mt-3;
}

.home .home-blog .meta-info .meta-categories {
  @apply flex items-center justify-center;
}

.home .home-blog .meta-info .meta-title,
.meta-info .meta-title {
  @apply font-bold text-black;
}

.home .home-blog .meta-info .post-categories {
  @apply flex flex-wrap justify-start p-0 list-none my-2;
}

.post-categories li {
  @apply mr-2;
}

.home .home-blog span,
.home .home-blog span a {
  @apply text-wpdevs-gray1 font-normal decoration-0 mr-2;
}

.services-item img {
  @apply rounded-xl border-8 border-wpdevs-black-blue;
}

/* Pagination */
.wpdevs-pagination {
  @apply flex justify-between py-4;
}
.pages {
  @apply mt-5;
  margin-top: 20px;
}
.nav-links {
  @apply mt-10;
  margin-top: 40px;
}
.nav-links .page-numbers {
  @apply px-2 py-4 inline-block bg-wpdevs-gray3;
}
.nav-links .current {
  @apply text-white bg-black;
}
.nav-links .next,
.nav-links .prev {
  @apply bg-transparent;
}
.nav-links .prev {
  @apply pl-0;
}

************** INNER PAGES *****************/

/* Blog, Archive, Search */
/* .blog main .container,
.archive main .container {
  @apply flex;
} */
.blog .blog-items,
.archive .archive-items {
  @apply pr-4 pt-0 pb-0 pl-0 flex-1;
}
.blog .blog-items h2,
.archive .blog-items h2 {
  @apply mt-0;
}
.blog article {
  @apply mb-5;
}
.blog aside,
.archive aside {
  @apply p-6 bg-wpdevs-gray2 h-full w-1/3;
}
.archive-items .meta-info .post-categories,
.blog-items .meta-info .post-categories {
  @apply inline-block;
}

aside.sidebar {
  @apply rounded-r-lg;
}

aside.sidebar h2.wp-block-heading {
  @apply text-2xl/relaxed mt-4 mr-0 mb-1;
}

@media screen and (max-width: 991px) {
  .blog aside,
  .archive aside,
  .blog .blog-items,
  .archive .archive-items {
    @apply min-w-full;
  }
}
.blog h1,
.archive h1 {
  @apply text-center mt-0;
}
.archive-description {
  @apply text-center max-w-[50%];

  margin: 0 auto 30px auto;
}
.archive-description p {
  @apply text-lg;
}
.home #primary > #main {
  @apply p-0;
}
#primary > #main {
  @apply py-16 px-0;
}
@media screen and (max-width: 991px) {
  #primary > #main {
    @apply py-5 px-0;
  }
}
.meta-info p {
  @apply m-0;
}
.wp-post-image {
  @apply float-left mt-0 mr-4 mb-2 ml-0;
}
@media screen and (max-width: 550px) {
  .wp-post-image {
    @apply w-full;
  }
}
article {
  @apply inline-block w-full;
}
article.post h1,
.search h1,
.archive h1 {
  @apply text-5xl leading-12 mb-4;
}
article.post h2 {
  @apply leading-12 normal-case;
}
article h2 {
  @apply leading-12 normal-case mb-2;
}
article.post h3,
article.post h4,
article.post h5 {
  @apply mb-0;
}
.searchform input[type="text"] {
  @apply px-4 py-2 border border-black rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-64;
}
.searchform input[type="submit"] {
  @apply bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-md;
}

.searchform div {
  @apply flex;
}
.searchform input[type="text"] {
  @apply max-w-[70%];
}
.searchform input[type="submit"] {
  @apply max-w-[70%];
}
@media (max-width: 991px) {
  .blog .container,
  .archive .container {
    @apply flex-wrap;
  }
}
