@import "tailwindcss";

@theme {
  --color-wpdevs-deep-blue: #213c4d;
  --color-wpdevs-gray1: #7c7c7c;
  --color-wpdevs-gray2: #f7f7f7;
  --color-wpdevs-gray3: #dddddd;
  --color-wpdevs-light-blue: #2a92d3;
  --color-wpdevs-deep-blue: #213c4d;
  --color-wpdevs-black-blue: #001e32;
  --color-wpdevs-yellow: #cfaf07;
}

@tailwind utilities;

.container {
  @apply w-full ml-auto mr-auto max-w-[1140px];
}

#menu-main-menu {
  @apply flex gap-8 justify-center items-center text-lg py-4;
}

#menu-footer-menu {
  @apply flex gap-8 py-4;
}

.menu-item {
  @apply font-normal;
}

.menu-item.current-menu-item {
  @apply font-bold;
}

.home-blog .container article:first-child {
  grid-area: feat-item;
}
.home-blog .container {
  display: grid;
  grid-template-areas: "feat-item feat-item";
  grid-gap: 25px;
}

.home .home-blog .latest-news {
  @apply text-center;
}
.home .home-blog .latest-news {
  @apply mb-8;
}

.home .home-blog .latest-news img {
  @apply float-none rounded-xl ml-[25px] mb-8 shadow-lg;
}

.home .home-blog .latest-news h3 {
  @apply mb-2 text-2xl font-bold text-wpdevs-gray1 hover:text-wpdevs-light-blue;
}
.home .home-blog .meta-info p {
  @apply font-normal mt-1;
}
.home .home-blog .meta-info p:last-child {
  @apply mt-3;
}

.home .home-blog .meta-info .meta-categories {
  @apply flex items-center justify-center;
}

.home .home-blog .meta-info .meta-title,
.meta-info .meta-title {
  @apply font-bold text-black;
}

.home .home-blog .meta-info .post-categories {
  @apply flex flex-wrap justify-start p-0 list-none my-2;
}

.post-categories li {
  @apply mr-[8px];
}

.home .home-blog span,
.home .home-blog span a {
  @apply text-wpdevs-gray1 font-normal decoration-0 mr-2;
}
